img {
  display: block;
  max-width: 100%;
}

.galeria {
  grid-column: 1 / -1;
}

.slide-wrapper {
  grid-column: 1 / -1;
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  will-change: transform;
}

.slide li img {
  border-radius: 10px;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide li.active img {
  opacity: 1;
  transform: scale(1);
}

.custom-controls {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  grid-column: 1 / -1;
}

.custom-controls li {
  opacity: 0.8;
  transform: scale(0.8);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.4s;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}
